<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API: Lightweight iTunes Catalog</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>

    <div class="container">
        <h1>API: Lightweight iTunes Catalog</h1>

        <h2>Example usage:</h2>
        <p><a href="<%= site %>/api/jack+johnson" target="_blank"><%= site %>/api/jack+johnson</a></p>

    </div>

</body>
</html>